/*
========================================
Global
========================================
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: verdana,arial,sans-serif,helvetica;
  background-color: #e5e5e5;
  font-size: 8pt;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:link {
  color: #003399;
}

a:visited {
  color: #003399;
}

a:hover {
  text-decoration: underline;
  color: #AB2A25;
}

h2 {
  font-size: 9pt;
  margin: 0;
  font-weight: bold;
}

/*
========================================
Master Container
========================================
*/

.master-container {
  margin: auto;
  width: 800px;
  background-color: white;
}

/*
========================================
Main Header
========================================
*/

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 151px;
  background-color: rgb(0, 51, 153);
  color: #ffffff;
}


.main-header ul {
  list-style-type: none;
}

.main-header a:link {
  color: #ffffff;
  font-weight: normal;
}

.main-header a:visited {
  color: #ffffff;
}

/*
========================================
Search Bar
========================================
*/

.search-bar {
  display: grid;
  grid-template-columns: .25fr 1fr .25fr;
}

.search-bar form {
  justify-self: center;
  margin: 0;
}

.search-bar form [type="text"] {
  width: 160px;
}

.search-bar form [type="radio"] {
  margin-right: .33rem;
}

.search-bar ul {
  display: flex;
}

.submit-btn {
  margin: 8px;
  border: 1px solid black;
  padding: 2px 7px;
  background-color: #E0FFFF;
  font-size: 10px;
  border-color: rgb(186, 186, 186);
}

.topnav {
  padding: 0;
  margin: 8px;
}

.topnav li:first-child::after {
  content: '|';
  margin: .33rem;
}

.home {
  justify-self: start;
}

.signup {
  justify-self: end;
}

/*
========================================
Navigation Bar
========================================
*/

.navbar {
  display: flex;
  align-items: center;
  margin-top: auto;
  background-color: rgb(102, 153, 204);
  height: 26px;
}

.navbar ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.navbar li::after {
  content: '|';
  margin: .33rem;
  color: black;
}

.navbar li:last-child::after {
  content: '';
}

.navbar a:hover {
  color: #003399;
}

/*
========================================
Page Content Container
========================================
*/

.page-content-container {
  display: grid;
  grid-template-columns: 325px 453px;
  grid-column-gap: 20px;
  grid-template-areas: "sidebar main";
}

/*
========================================
Profile Sidebar Column
========================================
*/

.profile-sidebar {
  grid-area: sidebar;
  margin-left: 27px;
  width: 300px;
}

h1 {
  font-size: 12.25pt;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0px;
}

.profile-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


/*
========================================
Profile Picture Container
========================================
*/

.profile-picture-container {
  display: grid;
  grid-template-columns: 170px 115px;
  grid-template-rows: 176px;
  grid-column-gap: 15px;
  margin-bottom: 12px;
}

.profile-picture-container p {
  margin: 0;
}

.profile-pic {
  grid-area: 1/1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.personal-msg {
  grid-area: 1/2;
  margin: 0;
}

.gender-age {
  grid-area: 1/2;
}

.gender-age li:first-child {
  margin-top: 28px;
}

.last-login {
  grid-area: 1/2;
  align-self: end;
}

.last-login li:last-child{
  margin-bottom: 15px;
}

.pics-videos {
  grid-area: 1/1;
  justify-self: center;
  align-self: end;
}

/*
========================================
Contact Box
========================================
*/

.contact-box {
  border: 2px solid rgb(102, 153, 204);
  height: 149px;
  width: 300px;
  margin-bottom: 24px;
}

.contact-box h2{
  color: white;
  background-color: rgb(102, 153, 204);
  height: 17px;
  padding-left: 10px;
}

.contact-images {
  display: grid;
  grid-template-columns: 150px 150px;
  margin: 0;
  margin-top: 5px;
  margin-left: 10px;
}

/*
========================================
MySpace URL
========================================
*/

.myspace-url-box {
  border: 1px solid rgb(102, 153, 204);
  height: 26px;
  margin-bottom: 24px;
}

.myspace-url-box h3,
.myspace-url-box p {
  margin: 0;
  padding: 0;
}

.myspace-url-box h3 {
  font-size: 8pt;
  padding-left: 2px;
}

.myspace-url-box p {
  padding-left: 6px;;
}

/*
========================================
Sidebar Table Class
========================================
*/

.sidebar-table {
  border: 2px solid rgb(102, 153, 204);
  display: table;
  border-collapse: separate;
  border-spacing: 3px;
}

.sidebar-table-h2 {
  background-color: rgb(102, 153, 204);
  color: white;
  text-align: left;
  height: 17px;
  padding-left: 15px;
  padding-top: 2px;
}

.sidebar-table-header {
  vertical-align: top;
  text-align: left;
  width: 107px;
  background-color: rgb(177, 208, 240);
  color: #336699;
  padding: 3px;
  font-weight: bold;
  font-size:8pt;
}

.sidebar-table-data {
  width: 184px;
  background-color:rgb(213, 232, 251);
  padding: 3px;
}

/*
========================================
Interests
========================================
*/

.interests p {
  margin-top: 0;
}

.interests p:only-child,
.interests p:last-child {
  margin-bottom: 0;
}

.interests table {
  margin-bottom: 13px;
}

/*
========================================
Details
========================================
*/

.details table {
  margin-bottom: 22px;
}

/*
========================================
Schools
========================================
*/

.schools .sidebar-table-header {
  width: 228px;
  color: black;
  font-weight: normal;
}

.schools .sidebar-table-data {
  width: 63px;
  text-align: center;
  vertical-align: top;
}

.schools ul {
  margin-bottom: 2em;
}

/*
========================================
Main Column
========================================
*/

main {
  grid-area: main;
}

/*
========================================
User Network
========================================
*/

.user-network {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 433px;
  margin: auto;
  height: 75px;
  border: 2px solid black;
  margin-top: 13px;
}

.user-network h2 {
  font-size: 12pt;
}
